# # Imágenes
# img/
# *.jpg
# *.jpeg
# *.png
# *.gif
# *.svg
# *.ico

# # PDFs
# *.pdf

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Archivos de caché
*.log
*.cache
*.tmp

# Archivos de dependencias
node_modules/
vendor/

/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
.vendor
.vendor/
/vendor
/vendor/
/vendor/*
/vendor/*/*
.vendor/*
.vendor/
.vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.nova
/.zed
/public/img

